<!DOCTYPE html>

<html>
    <head>
        <title>
            Flask Social Media Scraping Web App
        </title>
    </head>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/id_ID/sdk.js#xfbml=1&version=v14.0&appId=206904173852656&autoLogAppEvents=1" nonce="nbyAkS4f"></script>
    <body>
        <h1>
            Welcome!!!
        </h1>
        <h2>
            How to use this web app:
        </h2>
        <p>
            <ol>
                <li>Go login with Facebook Account by clicking the link <a href="/login-fb">here.</a></li>
                <li>Click Login with Facebook</li>
                <li>Approve the application "dev-wijatama 2"</li>
                <li>After you logged in, click the text "Start Collecting Data"</li>
            </ol>
        </p>
    </body>
</html>
