<!DOCTYPE html>

<html>
    <head>
        <title>
            Login to FB App with Facebook
        </title>
    </head>
    <body>
        <h1>
            Login FB
        </h1>
        <p>
            <div class="fb-login-button" data-width="" data-size="large" data-button-type="login_with" data-layout="rounded" data-auto-logout-link="true" data-use-continue-as="true"></div>
            <script>
                window.fbAsyncInit = function() {
                FB.init({
                    appId      : '383169993926598',
                    cookie     : true,
                    xfbml      : true,
                    version    : 'v14.0'
                });
                    
                FB.AppEvents.logPageView();   
                    
                };
            
                (function(d, s, id){
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {return;}
                js = d.createElement(s); js.id = id;
                js.src = "https://connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
            </script>
        </p>
    </body>
</html>