{% extends './layout/layout.html' %}
{% block title %} Notifikasi {% endblock %}


{% block main %}
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Pesan Notifikasi</h6>
  </div>
  <div class="card-body">
      {% for item in notifications %}
      <div>
          <div>
            <span>
              {{ item[0] }}
            </span>
          </div>
          <div>
            <span style="font-size:10px">
              {{ item[1] }}
            </span>
          </div>
          <hr/>
      </div>
      {% endfor %}
  </div>
</div>
{% endblock main %}
