{% extends './layout/layout.html' %}
{% block title %} Notifikasi {% endblock %}


{% block main %}
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary float-left">Pesan Notifikasi</h6>
    <form action="/notifikasi" method="POST">
      <button class="btn btn-outline-info float-right" type="submit">Mark  All as Read</button>
    </form>
    </div>
  <div class="card-body">
      {% for item in notifications %}
      <div>
          <div>
            <span>
              {{ item[1] }}
            </span>
            {% if not item[3] %}
              <a 
                  class="btn btn-outline-info btn-sm float-right" 
                  href="{{ url_for('mark_as_read', id=item[0]) }}"
                  formmethod="post">
                Mark as Read
              </a>
            {% endif %}
            <div>
              <span style="font-size:10px">
                {{ item[2] }}
              </span>
            </div>
          </div>
      </div>
      <hr/>
      {% endfor %}
  </div>
</div>
{% endblock main %}
